
@media (max-width:600px) {
    header nav {
        flex-direction: column;
    }
    .header-title {
        padding: 0;
    }

    .our-dogs ul li {
        row-gap: 0.5em;
    }
    .our-dogs ul li {
        max-width: 42%;
    }
    .our-dogs ul li img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }


    .helpNeed ul {
        flex-direction: column;
    }

}