* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #eeeeee;
}

.gallery-container {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    gap: 20px;
    justify-content: space-evenly;
}

.gallery-item {
    flex: 0 0 calc( (100% / 3) - 20px);
    border: 5px solid black;
    padding: 5px;
    background-color: white;
}

figure {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}
