div {
    border: 2px solid black;
    width: 300px;
    padding: 0.5em;
    height: 100px;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}