@import url(../_styles.css);

div.container {
    background: white;
    min-width: fit-content;
    width: 20vw;
    padding: 1.5em 3em;
    margin: 5em auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
}

input {
    display: block;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 0.2em;
    padding: 0.6em;
    margin-bottom: 1em;
}

h1 {
    font-size: 1.2em;
    border-bottom: 2px solid #ddd;
    margin-bottom: 1em;
    padding-bottom: 1em;
    display: inline-block;
}

button {
    background-color: darkorange;
    color: white;
    border: none; 
    border-radius: 0.2em;
    width: 100%;
    padding: 0.8em;
    margin: 1em 0;
}

label, button {
    font-weight: bold;
}

label:has(+ input:required)::after {
    content: '*';
    color: red;
}