@import url(../../../styles/_styles.css);

body {
    padding: 0;
}

header {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 5em;
}

.logo-img {
    width: 4em;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logo-and-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 12em;
}

header ul {
    display: flex;
    gap: 1em
}

header ul li a {
    font-weight: bold;
}

div.header-section {
    width: 75vw;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.2em;
    padding: 0.5em;
}

header .header-section .more-btn {
    background-color: white;
    padding: 5px 10px;
    margin: 2em;
    border-radius: 0.3em;
}


/* article section styles*/
.articles-section {
    background-color: #60acc1; 
    padding-bottom: 2em;
}

h2 {
    font-size: 1.5em;
}

.section-headline {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5em;
    padding-bottom: 2em;
}

section.articles-container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.articles-section article {
    width: 35%;
    max-height: 300px;
    display: flex; 
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); */
    border-right: 8px solid #60acc1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.articles-section article img {
    max-width: 90%;
}

h3 {
    font-size: 1.2em;
    text-transform: capitalize;
}

div.article-content {
    background-color: white;
    padding: 2em;
    min-width: 40%;
    min-height: fit-content;
    position: relative;
    left: -30%;
}



/* furniture-types-section styles*/
.furniture-types-section {
    display: flex;
}

.furniture-types-section img {
    width: 80px;
}



/* gallery section styles*/
div.gallery-section {
    background-color: #60acc1;
}

section.gallery-container {
    display: flex;
    gap: 5em;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 3em;
}

div.gallery-section img {
    width: 25%;
    /* box-shadow: 5px -5px 3px -3px rgba(0, 0, 0, 0.5), -5px 5px 3px -3px rgba(0, 0, 0, 0.5); */ 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}