@import url(../../../styles/_styles.css);

body {
    padding: 0;
}

header {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 5em;
}

.logo-img {
    width: 4em;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logo-and-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 12em;
}

header ul {
    display: flex;
    gap: 1em
}

header ul li a {
    font-weight: bold;
}

div.header-section {
    width: 75vw;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.2em;
    padding: 0.5em;
}

header .header-section .more-btn {
    background-color: white;
    padding: 5px 10px;
    margin: 2em;
    border-radius: 0.3em;
}