@import url(../../../styles/_styles.css);

:root {
    --white: #ffffff;
    --blue: #60acc1;
    --grey-font: #666668;
    --white-header-btn: #e7eef0
}

html {
    font: 16px/1.5 'PT Sans', Verdana,sans-serif;
}

body {
    padding: 0;
    background-color: var(--white);
}

header {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 5em;
    text-shadow: 0.5px 1px 1px #5f5d5f;
}

.logo-img {
    width: 6em;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logo-and-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 15em;
}

header ul {
    display: flex;
    gap: 1em
}

header ul li a {
    font-weight: bold;
}

div.header-section {
    width: 75vw;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 0.5em;
}

.italic {
    font-style: italic;
}

.header-section p {
    font-size: 1.2em;
}

header .header-section .more-btn {
    background-color: var(--white-header-btn);
    /* color: #5f5d5f; */
    color: var(--grey-font);
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 2em;
    border-radius: 0.3em;
    text-shadow: none;
}



/* article section styles*/

.articles-section {
    background-color: var(--blue); 
    padding-bottom: 2em;
}

h2 {
    font-size: 1.5em;
}

.section-headline {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5em;
    padding-bottom: 2em;
}

section.articles-container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.articles-section article {
    width: 35%;
    max-height: 300px;
    display: flex; 
    box-shadow: -15px 0px 15px -5px rgba(0,0,0,.3), 15px 0px 15px -5px rgba(0,0,0,.3), 0px -15px 15px -5px rgba(0,0,0,.3), 0px 15px 15px -5px rgba(0,0,0,.3);
    border-right: 8px solid var(--blue);
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); */
}

.articles-section article img {
    max-width: 90%;
}

h3 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
}

div.article-content {
    background-color: var(--white);
    padding: 2em;
    min-width: 40%;
    min-height: fit-content;
    position: relative;
    left: -30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* furniture-types-section styles*/
div.furniture-types-section {
    display: flex;
    justify-content: space-around;
    color: var(--grey-font);
    padding: 0 1em;
}

div.furniture-types-section article {
    max-width: 30%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.furniture-types-section article h4 {
    font-size: 1.2em;
    padding-bottom: 0.8em;
}

div.furniture-types-section article p {
    text-align: center;
}

.furniture-types-section img {
    width: 90px;
    aspect-ratio: 1/1;
}



/* gallery section styles*/
div.gallery-section {
    background-color: var(--blue);
}

section.gallery-container {
    display: flex;
    gap: 5em;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 3em;
}

div.gallery-section img {
    /* width: 25%; */
    max-width: 350px;
    box-shadow: -15px 0px 15px -5px rgba(0,0,0,.3), 15px 0px 15px -5px rgba(0,0,0,.3), 0px -15px 15px -5px rgba(0,0,0,.3), 0px 15px 15px -5px rgba(0,0,0,.3);
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); */
}



/* about us section styles*/

div.aboout-section {
    color: var(--grey-font);
}

div.aboout-section h2 {
    text-transform: uppercase;
}

div.aboout-section > p {
    width: 60%;
    text-align: center;
    margin: auto;
    padding-bottom: 2.5em;
}



/* footer styling */

footer {
    background-color: #2d333c;
    color: var(--white);
    padding: 1em;
    justify-items: center;
}