@import url(../styles/reset.css);
@import url(../styles/typography.css);
@import url(../styles/theme.css);

article {
    width: 90vw;
    margin: 2em auto;
    /* margin: 0 auto; */
}

hr {
    width: 10ch;
    margin: 2em auto;
    border-color: #eee;
}

h2 {
    /* width: 50ch; */
    padding-top: 1em;
}

header p {
    width: 50ch;
    margin: 1em auto;
}

h2, 
header > p, 
footer > p {
    text-align: center;
}

header > p, 
footer > p {
    color: #666;
}

footer p {
    max-width: 90ch;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

main {
    display: flex;
    padding: 2vw 4vw;
    gap: 2em;
}
