@import url(../../styles/_styles.css);

caption {
    text-align: left;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
}

div.table {
    width: 90vw;
    margin: 2em auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    overflow: hidden;
    min-width: fit-content;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-radius: 0.3em;
    overflow: hidden;
    min-width: fit-content;
}

.table1 {
    width: 100%;
}

.table2 {
    width: 90vw;
    margin: 2.5em auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    border-left: 1px solid #ccc; 
}

thead {
    background-color: #eee;
}

tr {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

th, td {
    padding: 1em;
    text-align: left;
    min-width: fit-content;
}

td {
    background-color: white;
}

/* th:nth-of-type(1) {
    border-top-left-radius: 0.3em;
}

th:last-of-type {
    border-top-right-radius: 0.3em;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 0.3em;
}

tr:last-child td:last-child  {
    border-bottom-right-radius: 0.3em;
} */


@media (max-width: 600px) {
    table, table tbody, 
    table tbody tr, 
    table tbody tr td {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
    }

    tr {
        border-bottom: none;
    }

    tr + tr {
        border-top: 1px solid #ccc;
    }

    table > caption {
        display: block;
    }

    table tbody tr td:before {
        display: block;
    }

    .table1 tbody tr td:nth-of-type(1):before {
        content: "Title 1";
    }

    .table1 tbody tr td:nth-of-type(2):before {
        content: "Title 2";
    }

    .table1 tbody tr td:nth-of-type(3):before {
        content: "Title 3";
    }

    .table2 tbody tr td:nth-of-type(1):before {
        content: "Header 1";
    }

    .table2 tbody tr td:nth-of-type(2):before {
        content: "Header 22";
    }

    .table2 tbody tr td:nth-of-type(3):before {
        content: "Header 333";
    }

    table tbody tr td {
        display: flex;
        justify-content: space-between;
    }

    table tbody tr td:not(:last-of-type) {
        border-bottom: 1px dashed #ccc;
    }
}